<div id="article-info-displayer" class="article-info-displayer">
    <div class="contianer-fluid" style="display:flex; justify-content:flex-end;">
        <button class="close_button close_moreInfo">x</button>
    </div>
    <div class="article-info-image-container">
        <img id="article-info-image" class="article-info-image">
    </div>
    <div id="article-info-info" class="article-info-info">
        <div class="row">
            <div class="col-12 col-sm-6">
                <div class="article-info-item article-info-name">
                    <strong class="article-info-field">Name: </strong>
                    <p id="name_article_value" class="article-info-value">Hola</p>
                </div>
            </div>
            <div class="col-12 col-sm-6">
                <div class="article-info-item article-info-author">
                    <strong class="article-info-field">Author: </strong>
                    <p id="author_article_value" class="article-info-value">Hola</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-sm-6">
                <div class="article-info-item article-info-price">
                    <strong class="article-info-field">Price: </strong>
                    <p id="price_article_value" class="article-info-value">Hola</p>
                </div>
            </div>
            <div class="col-12 col-sm-6">
                <div class="article-info-item article-info-amount">
                    <strong class="article-info-field">Avaliable: </strong>
                    <p id="amount_article_value" class="article-info-value">Hola</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="article-info-item article-info-description">
                    <strong class="article-info-field">Description: </strong>
                    <p id="desc_article_value" class="article-info-value description-info-value">Hola</p>
                </div>
            </div>
        </div>
        
        <div class="article-info-button-container">
            <button class="buy-button" onclick="addToCart(this)">Add to Cart!</button>
        </div>
    </div>
</div>