<nav class="navbar navbar-expand-lg navbar-light bg-light" style="border-bottom:2px solid gray;">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <h1 style="font-weight:700; font-style:italic;">OnlineSotre</h1>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a id="myArticles" class="nav-link" aria-current="page" href="#">My articles</a>
                </li>
                <li class="nav-item">
                    <a id="newArticle" class="nav-link" aria-current="page" href="#" style="color: green; font-weight:700;">New Announcement!</a>
                </li>
            </ul>
            <div class="profile-user-container">
                <div class="profile-img-container"></div>
                <div class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="username_value" role="button" data-bs-toggle="dropdown" aria-expanded="false"></a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a id="mycart" class="dropdown-item" href="/mycart">My cart</a></li>
                        <li><a id="logout" class="dropdown-item">Logout</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>