<style>
    .profile-user-container{
        display: flex;
    }
    .profile-img-container{
        width: 50px;
        height: 50px;
        border: 2px solid black;
        border-radius: 50%;
        margin-right: 10px;
    }

    .username-container{
        display: flex;
        align-items: center;
    }

    #logout{
        border-top: 1px solid gray;
    }
</style>

<nav class="navbar navbar-expand-lg navbar-light bg-light" style="border-bottom:2px solid gray;">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <h1 style="font-weight:700; font-style:italic;">OnlineSotre</h1>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#">My articles</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#">My buys</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/newArticle" style="color: green; font-weight:700;">New Announcement!</a>
                </li>
            </ul>
            <div class="profile-user-container">
                <div class="profile-img-container"></div>
                <div class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="username_value" role="button" data-bs-toggle="dropdown" aria-expanded="false"></a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a id="mycart" class="dropdown-item" href="/mycart">My cart</a></li>
                        <li><a id="logout" class="dropdown-item">Logout</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <script>
        const logout = document.getElementById("logout");

        logout.addEventListener('click', function(e){
            e.preventDefault();

            const sessionObject = localStorage.getItem("STR_session_object");
            var http = new XMLHttpRequest();
            http.open("GET", "/logout?session=" + sessionObject);
            http.onreadystatechange = function(){
                if(http.readyState==4 && http.status==200){
                    var response = http.responseText;
                    response = JSON.parse(response);

                    if(response.status == 1){
                        console.log("Loging out...");
                        localStorage.removeItem("STR_session_object");
                        document.cookie = "session_cookie=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
                        window.location.replace("/login");
                    }else{
                        alert(response.message);
                    }
                }else{
                    console.log(`readyState: ${http.readyState}`);
                    console.log(`status: ${http.status}`);
                }
            }
            http.send(null);
        });

        document.addEventListener('DOMContentLoaded', function(){
            var session_object = localStorage.getItem("STR_session_object");
            if(session_object){
                session_object = JSON.parse(session_object);
                const username_field = document.getElementById("username_value");

                username_field.innerHTML = session_object.username;
            }else{
                console.log("Session object not found...");
            }
        });
    </script>
</nav>