<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="css/home.css">
        <%- include("components/header.html") %>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Online Store: Home</title>
    </head>

    <body>
        <div id="masterContainer" class="container-fluid">
            <!--NAVBAR-->
            <%- include("components/navbar.html") %>

            <!--MAIN CONTENT-->
            <div class="mainContent-container container-fluid">
                <main class="main-content"></main>
                <aside class="searchArticle-module"></aside>
            </div>
        </div>
        <%- include("components/footer.html") %>
        <script src="scripts/home.js"></script>
    </body>
</html>