<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("components/header.html") %>
        <link rel="stylesheet" href="css/newArticle.css">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Document</title>
    </head>

    <body>
        <div id="masterContainer" class="container-fluid">
            <%- include("components/navbar.html") %>

            <div class="mainContent-container">
                <form id="new_article-form" class="newArticle-container container">
                    <div class="newArticle-img-container" style="position:relative;">
                        <input type="file" class="newArticle-img-selector" name="newArticle_img" hidden required>
                        <img class="newArticle-img" onclick="upload_img(this)"/>
                    </div>
                    <div class="newArticle_data-container container">
                        <div class="row newArticle-row">
                            <div class="newArticle_field-container col-12 col-md-6">
                                <h6 class="newArticle-field-title">Article name:</h6>
                                <input type="text" class="newArticle-name newArticle-field-value" name="newArticle_name" placeholder="Article name" value="testing name" required>
                            </div>
                            <div class="newArticle_field-container col-12 col-md-6">
                                <h6 class="newArticle-field-title">Author:</h6>
                                <input type="text" class="newArticle-author newArticle-field-value" name="newArticle_author" readonly value="SefirotHunter" required>
                            </div>
                        </div>
                        <div class="row newArticle-row">
                            <div class="newArticle_field-container col-12 col-md-6">
                                <h6 class="newArticle-field-title">Price:</h6>
                                <input type="text" class="newArticle-price newArticle-field-value" name="newArticle_price" placeholder="Price" value="testing price" required>
                            </div>
                            <div class="newArticle_field-container col-12 col-md-6">
                                <h6 class="newArticle-field-title">Amount:</h6>
                                <input type="text" class="newArticle-amount newArticle-field-value" name="newArticle_amount" placeholder="Amount" value="testing amount" required>
                            </div>
                        </div>
                    </div>
                    <div class="newArticle-desc-container container">
                        <div class="newArticle_field-container" style="padding:0px;">
                            <h6 class="newArticle-field-title">Description:</h6>
                            <textarea cols="100" rows="10" class="newArticle-desc newArticle-field-value" name="newArticle_desc" placeholder="Description of the article..." required>testing description</textarea>
                        </div>
                    </div>
                    <button id="new_article_submit" type="submit">Add!</button>
                </form>
            </div>
        </div>
        <%- include("components/footer.html") %>
        <script src="script/newArticle.js"></script>
    </body>
</html>