<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>OnlineStore: Testing...</title>
    </head>

    <body>
        <form action="/testing" method="post">
            <input type="text" name="username" id="txUsername" value="dragonBorn">
            <input type="text" name="password" id="txPassword" value="lilyLover">
            <input type="file" name="myImage" id="myImage">
            <input type="submit" value="submitBtn">
        </form>
    </body>
</html>