body{
    margin:0px;
    padding: 0px;
}
#masterContainer{
    padding: 0px;
}


.mainContent-container{
    display: flex;
}

.main-content{
    width: 75%;
    border: 1px solid red;
    height: 50px;
}

.searchArticle-module{
    width: 25%;
    border: 1px solid blue;
    height: 50px;
}