body{
    height: 100%;
    margin:0px;
    padding: 0px;
    overflow-x: hidden;
}

#masterContainer{
    padding: 0px;
}


.mainContent-container{
    height: 100vh;
    padding-top: 15vh;
    display: grid;

    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1;
}

.main-content{
    height: 80vh;
    padding: 10px;
    border: 2px dashed black;
    border-radius: 7px;

    overflow-y: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar{
    border-radius: 7px;
}

::-webkit-scrollbar-track{
    background-color: transparent;
    border-radius: 7px;
}

::-webkit-scrollbar-thumb{
    background-color: rgb(24, 141, 53);
    border-radius: 7px;
}

::-webkit-scrollbar-thumb:hover{
    background-color: rgb(7, 95, 29);
    cursor: pointer;
}

.articles-row{
    display: grid;

    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
}

.article-col{
    display:flex;
    justify-content: center;
}






.article-item-container{
    width: 180px;
    height: 220px;

    background-color: white;
    box-shadow: 2px 2px 10px black;
    border-radius: 10px;

    padding-bottom: 10px;
}

.article-item-container:hover{
    cursor: pointer;
    box-shadow: 2px 2px 10px green;
}

.image-container{
    height: 45%;
    display: flex;
    justify-content: center;
}

.item-image{
    height: 100%;
    width: auto;
}

.item-title{
    min-height: 20%;
    max-height: 25%;
    text-align: center;
    border-bottom: 1px solid gray;
    overflow: hidden;

    margin-bottom: 0px;
}

.item-price{
    height: 15%;
    text-align: center;
    font-style: italic;

    margin-top: 0px;
    margin-bottom: 0px !important;
}

.buttons-container{
    height: 15%;
    margin-top: 5%;

    display: flex;
    justify-content: space-around;
}

.item-button{
    height: 100%;
    width: 40%;

    border-radius: 10px;
    font-weight: 600;
}

.more-button{
    background-color: transparent;
    border: 0px;
    font-style: italic;
    color: rgb(53, 149, 180);
    text-decoration: underline;

}

.buy-button{
    background-color: rgb(26, 109, 26);
    border: 2px solid green;
    color: white;
}

footer{
    margin: 0px;
    background-color: rgb(25, 46, 25);
    padding: 50px 100px;
    font-weight: 600;
    color: white;
    text-align: center;

    display: flex;
    justify-content: center;
}






@media(max-width: 1130px){
    .article-item-container{
        width: 140px;
        height: 180px;
    }
}

@media(max-width: 960px){
    .mainContent-container{
        grid-template-columns: 1fr;
        grid-template-rows: 15vh 68vh;
    }

    .main-content{
        grid-row: 2/3;
        grid-column: 1/2;
        height: 100%;
        margin-top: 10px;
    }
}

@media(max-width: 680px){
    .articles-row{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-row-gap: 30px;
    }
}

@media(max-width: 420px){
    .article-item-container{
        margin-right: 10px;
    }
}